{
    "presets": [
        "env", "react", "stage-1"
    ],
    "ignore": [
        "src/dependencies/*",
        "bar/**/*.js"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}
